<h1>All Posts</h1>
	<ul id="posts">
	  <% @posts.each do |p| %>
	    <li>
	      <%= p.content %>
				<% if user_signed_in? %>
					Author:<%= current_user.email %>
				<% end %>
		  </li>
		  <% end %>
	</ul>

	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br>
	<%= link_to 'Sign In', new_user_session_path %>